<p id="notice"><%= notice %></p>

<p>
  <b>Periodo:</b>
  <%= @aplicacion_periodica.periodo.descripcion %>
</p>

<p>
  <b>Monto:</b>
  <%= @aplicacion_periodica.monto %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @aplicacion_periodica.descripcion %>
</p>

		<% if @aplicacion_periodica.deuda.present? %>
<p>
  <b>Deuda:</b>
			<%= @aplicacion_periodica.deuda.descripcion %>
</p>
		<% end %>

<%= link_to 'Edit', edit_aplicacion_periodica_path(@aplicacion_periodica) %> |
<%= link_to 'Back', aplicacion_periodicas_path %>
