<h1>Fuck!</h1>
<h4>
Totales disponibles.
</h4>
<% acumulador=0 %>
<table>
	<% @totales_disponibles.each do |fila|%>
		<tr>
			<td><%= fila[0] %></td>
			<% if ! fila[1].blank? %>
				<td align="right"><%= formatear_dinero(fila[1]) %></td>
				<% acumulador+=fila[1] %>
			<% else %>
				<td align="right">0.00</td>
			<% end %>
		</tr>
	<% end %>
	<tr>
		<td>
			Total:
		</td>
		<td align="right">
			<%= formatear_dinero(acumulador) %>
		</td>
	</tr>
</table>



<h4>
Totales egresos.
</h4>
<% acumulador=0 %>
<table>
	<% @totales_egresos.each do |fila|%>
		<tr>
			<td><%= fila[0] %></td>
			<td align="right"><%= formatear_dinero(fila[1]) %></td>
			<% if ! fila[1].blank? %>
				<% acumulador+=fila[1] %>
			<% end %>
		</tr>
	<% end %>
	<tr>
		<td>
			Total:
		</td>
		<td align="right">
			<%= formatear_dinero(acumulador) %>
		</td>
	</tr>
</table>


<h4>
Totales banco.
</h4>
<table>
<% @totales_banco.each do |titulo, valor| %>
	<tr>
		<td><%= titulo %></td>
		<td align="right"><%= valor %></td>
	</tr>
<% end %>
</table>

<h4>
Totales deudas.
</h4>
<table>
<% TotalesDeuda.activas.each do |deuda| %>
	<tr>
		<td><%= deuda.descripcion %></td>
		<td align="right"><%= deuda.restante %></td>
	</tr>
<% end %>
</table>
