<h1>Restante deudas</h1>

<table id="tblDeudas">
	<thead>
  <tr>
    <th>Monto</th>
    <th>Contraido</th>
    <th>Descripcion</th>
    <th>Credito</th>
    <th>Restante</th>
  </tr></thead>
  
  <tbody>

<% @deudas.each do |deuda| %>
  <tr>
    <td><%= deuda.monto %></td>
    <td><%= deuda.contraido %></td>
    <td><%= deuda.descripcion %></td>
    <td>
		<% if deuda.credito.present? %>
   		 	<%= deuda.credito.descripcion %>
   		<% else %>
			<% if deuda.deuda_original.present? %>
				La deuda original es <%= deuda.deuda_original.descripcion %> y su credito <%= deuda.deuda_original.credito.descripcion %>
			<% else %>
	   			No asociado con credito
			<% end %>
   		<% end %>
    </td>
    <td><%= deuda.restante %></td>
  </tr>
<% end %>
</tbody>
</table>
