<!DOCTYPE html>
<html>
<head>
  <title>GastoCaca</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Tipo de egresos", tipo_egresos_path %>
<%= link_to "Tipo de ingresos", tipo_ingresos_path %>
<%= link_to "Egresos", egresos_path %>
<%= link_to "Ingresos", ingresos_path %>
<%= link_to "Creditos", creditos_path %>
<%= link_to "Deudas", deudas_path %>
<%= link_to "Gastos periodicos", aplicacion_periodicas_path %>
<%= link_to "Subir cagada", :controller => "upload", :action => "index" %>

<%= yield %>

</body>
</html>
